<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">Spoaverein</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <ng-container *ngFor="let navLink of navLinks">
          <li class="nav-item"  *ngIf="roleService.checkPermission(navLink.roles)">
            <a class="nav-link text-dark" [href]="navLink.route" routerLinkActive="active">{{navLink.name}}</a>
          </li>
        </ng-container>
        <li class="nav-item">
          <a class="nav-link text-dark" routerLinkActive="active" (click)="logout()">Logout</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
