.container {
  height: 100vh; /* Volle Höhe des Viewports */
  font-size: 100%;
  display: flex;
  align-items: center; /* Vertikale Zentrierung */
  justify-content: center; /* Horizontale Zentrierung */
}
