.item-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 0.5rem;
}
.fontSizeLarge{
  font-size: 3rem;
}

.fontSizeSmall{
  font-size: 2rem;
}

.itemDispatched{
  font-weight: bold;
  color: green;
}

.itemPreparation{
  font-weight: bold;
  color: red;
}

.item-table{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.preparationView{
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.preparation-grid {
  display: grid;

  grid-template-columns: repeat(
    auto-fit,
      minmax(500px, 1fr)
  );
}

.itemName {
  font-size: clamp(1.2rem, 2vw, 4rem);
  font-weight: bold;
}
