
  <div class="preparation-grid" [style.grid-template-columns]="gridColumns">
    @for (preperation of preparations; track preperation.itemName) {
      <div (click)="cachelClick(preperation.itemName)" class="item-div" [ngStyle]="{'background': cachelColors[preperation.color]}">
        <div class="itemName">
          {{ preperation.itemName }}
        </div>

        <div class="preparationView">
        <span class="itemDispatched itemName">
          {{ preperation.dispatchedAmount }}
        </span>

          <span>|</span>

          <span class="itemPreparation itemName">
          {{ preperation.preparationAmount }}
        </span>
        </div>
      </div>
    }
  </div>
